{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "prettier", "plugin:promise/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    // Override our default settings just for this directory
    "eqeqeq": "warn",
    "strict": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-restricted-globals": "off"
  }
}
